/* 글꼴 설정 */
@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
} 
/* 전체 선택 */

body, html {
    margin: 0;
    padding: 0;
}

/* 배경처리 */
.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/room.jpg);

    background-size: cover;
}

/* 헤더배치 */

.header {
    width: 80%;
    height: 80px;

    display: flex;
    justify-content: space-between;
}

/* 글자로고 */
.header > h1 {
    font-family: abster;
}

.header > h1 > a {
    color: #fff;
    text-decoration: none;
}

/* 메뉴요소 배치 */

.nav > ul {
    display: flex;
    list-style-type: none;

    gap: 20px;
}

/* 메뉴요소 스타일링 */

.nav > ul > li > a {
    color: #fff;

    text-decoration: none;

    font-size: 14px;
}

/* 메뉴요소 마우스이벤트 */
.nav > ul > li > a:hover {
    color: skyblue;
}

/* 화면 중앙 요소 배치 */

.hero {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 화면 중앙 요소 제목 */
.hero > h2 {
    color: white;

    font-size: 50px;

    margin-bottom: 0px;
}

/* 화면 중앙 요소 본문 */
.hero > p {
    color: white;
    
    font-size: 17px;
    text-align: center;
}

/* 화면 중앙 요소 버튼 */
.hero > button {
    padding: 12px 15px;

    border: 2px solid greenyellow;
    border-radius: 18px;

    background-color: transparent;
    color: white;

    margin-top: 5px;
}
/* 화면 중앙 요소 버튼 처리 */

.hero > button:hover {
    background-color: green;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

